.institucionMainDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0% 1% 0% 1%;
}
.institucionMainDiv img {
    width: 100%;
    margin-bottom: 8%;
}
.instName {
    font-family: "B SemiLight";
    font-size: 14px;
}
.instInfo {
    font-family: "B SemiLight";
    font-size: 16px;
    text-align: center;
    line-height: 24px;
}
@media only screen and (min-width: 752px) {
    .institucionMainDiv {
        width: 30%;
        height: 350px;
        align-items: baseline;
        justify-content: center;
    }
    .institucionMainDiv img {
      /* height: 50%; */
    }
    .instName {
        font-family: "B SemiLight";
        font-size:6px;
    }
    .instInfo {
        font-family: "B SemiLight";
        font-size: 10px;
        line-height: 16px;
        text-align: left;
    }
}