.institucionMainDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0% 1% 0% 1%;
    max-width: 500px;
}
.institucionMainDiv img {
    width: 100%;
    margin-bottom: 8%;
}
.instName {
    font-family: "B SemiLight";
    font-size: 14px;
}
.instInfo {
    font-family: "B SemiLight";
    font-size: 16px;
    text-align: center;
    line-height: 24px;
}
@media only screen and (min-width: 752px) {
    .institucionMainDiv {
        width: 30%;
        height: 350px;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .institucionMainDiv img {
      /* height: 50%; */
    }
    .deskTextDiv {
        height: 200px;
    }
    .instName {
        font-family: "B SemiLight";
        font-size:6px;
    }
    .instInfo {
        font-family: "B SemiLight";
        font-size: 10px;
        line-height: 16px;
        text-align: left;
    }
}
@media only screen and (min-width: 1000px) {
    .institucionMainDiv {
        height: 650px;
    }
    .instName {
        font-size: 15px;
    }
    .instInfo {
        font-size: 18px;
        line-height: 25px;
    }
}
@media only screen and (min-width: 1300px) {
    .institucionMainDiv {
        height: 670px;
    }
    .instName {
        font-size: 19px;
    }
    .instInfo {
        font-size: 23px;
        line-height: 25px;
    }
}
@media only screen and (min-width: 1500px) {
    .institucionMainDiv {
        height: 880px;
    }
    .instName {
        font-size: 19px;
    }
    .instInfo {
        font-size: 28px;
        line-height: 35px;
    }
}
@media only screen and (min-width: 2000px) {
    .institucionMainDiv {
        height: 1050px;
    }
    .instName {
        font-size: 25px;
    }
    .instInfo {
        font-size: 32px;
        line-height: 42px;
    }
}
