.paisCardDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
}
.paisImage {
    width: 80%;
}
.paisName {
    font-family: "B Semilight";
    /* font-size: 14px; */
}