.paisCardDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
}
.paisImage {
    width: 80%;
}
.paisName {
    font-family: "B Semilight";
    /* font-size: 14px; */
}
@media only screen and (min-width: 752px) {
    .paisCardDiv {
        margin: 1%;
    }
    .paisImage {
        width: 38px;
        height: 38px;
    }
    .paisName {
        font-size: 8px;
    }
}