.paisCardDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
}
.paisImage {
    width: 80%;
}
.paisName {
    font-family: "B Semilight";
    /* font-size: 14px; */
}
@media only screen and (min-width: 752px) {
    .paisCardDiv {
        margin: 1%;
    }
    .paisImage {
        width: 40px;
        height: 40px;
    }
    .paisName {
        font-size: 8px;
    }
}
@media only screen and (min-width: 1000px) {
    .paisImage {
        width: 55px;
        height: 55px;
    }
    .paisName {
        font-size: 13px;
    }
}
@media only screen and (min-width: 1500px) {
    .paisImage {
        width: 70px;
        height: 70px;
    }
    .paisName {
        font-size: 16px;
    }
}