.nav {
  font-size: 66%;
  /* margin: 42px 0 66px; */
  max-width: 500px;
}
.nav-link {
  color: #222222;
  font-family: "B SemiBold";
  text-decoration: none;
}
.nav-item .active{
  color: #137e97;
}
.nav-link:hover {
  color: #137e97;
}
.noticiasRow {
  display: flex;
  flex-direction: row;
}
.navDivisor {
  border: solid 0.5px black;
}
@media (min-width: 300px) {
 
}
@media (min-width: 1000px) {
  .nav {
    max-width: 700px;
  }
}
@media (min-width: 1200px) {
  .nav {
    margin: 50px 0 100px;
    max-width: 880px;
    font-size: 24px;
    line-height: 40px;
  }
}
