.redesCardDiv {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.redesCardDiv a{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: black;
}
.redLogo {
    width: 17%;
    margin-right: 3%;
}
.redName{
    font-family: "B SemiLight";
    font-size: 10px;
}
@media only screen and (min-width: 752px) {
    .redLogo {
        width: 15px;
    }
    .redName{
        font-size: 10px;
        margin: 10.4px 0px;
    }
}
@media only screen and (min-width: 1000px) {
    .redLogo {
        width: 15%;
    }
    .redName{
        font-size: 15px;
        margin: 14.2px 0px;
    }
}
@media only screen and (min-width: 1300px) {
    .redName{
        margin: 13.9px 0px;
    }
}
@media only screen and (min-width: 1500px) {
    .redLogo {
        width: 17%;
    }
    .redName {
        font-size: 17px;
        margin: 16.9px 0px;

    }
}
@media only screen and (min-width: 2000px) {
    .redName{
        font-size: 19px;
        margin: 14.6px 0px;
    }
}