.upperFooterDiv {
    background-color: #F0F0F0;
    padding: 7% 4% ;
}
.footerNav {
    display: flex;
    flex-direction: column;
}
.footerTitle {
    font-family: "B Bold";
    color: #051C2C;

}
.paisesRow {
    display: flex;
    flex-direction: row;
    
}
.teInteresaDiv a {
    text-decoration: none;
    color: #051C2C;
}
.teInteresa {
    font-family: "B SemiBold";
}
.escribenos {
    font-family: "B SemiLight";
    color: #051C2C;

}
.escribenos span {
    font-family: "B SemiBold";
    color: #051C2C;
}
.footerNav a  {
    font-family: "B SemiLight";
    text-decoration: none;
    color: black;
}
.underFooterDiv {
    background-color: #051C2C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.underFooterDiv p {
    font-family: "B SemiLight";
    color: #0081C3;
}
.underPgroup {
    text-align: center;
}
.upperDeskDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F0;
    padding: 0% 0% 2% 0%;

}
.upperMainDesk {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 93%;
    padding: 2% 2% 0% 2%;
    max-width: 1500px;
}
.footerLogoDesk {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
}
.footerLogoDesk img {
    margin-top: 20%;
    width: 100%;
}
.pagsDiv {
    display: flex;
    flex-direction: column;
    width: 10%;
    margin: 0% 0% 0% 3%;

}
.pagsDiv a {
    font-size: 10px;
    color: #051C2C;

}
.paisesDivDesk {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    margin: 0% 2% 0% 1%;

}
.pagsDiv a {
    font-family: "B SemiLight";
    text-decoration: none;
    color: #051C2C;
}
.redesDeskDiv {
    width: 15%;
    margin: 0% 2%;

}
.underDeskDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #051C2C;
    padding: 1% 2%;

}
.underDeskDiv p {
    font-family: "B SemiLight";
    color: #0081C3;
    font-size: 9px;
}
@media only screen and (min-width: 752px){
    .footerTitle {
        font-size: 14px;
    }
    .teInteresa {
        font-size: 14px;
    }
    .escribenos {
        font-size: 14px;
    }
}
@media only screen and (min-width: 1000px){
    .footerLogoDesk img {
        width: 80%;
    }
    .footerTitle {
        font-size: 18px;
    }
    .pagsDiv a {
        font-size: 15px;
    }
    .teInteresa {
        font-size: 18px;
    }
    .escribenos {
        font-size: 18px;
    }
    .underDeskDiv {
        padding: 1% 3%;
    }
    .underDeskDiv p {
        font-size: 13px;
    }
}
@media only screen and (min-width: 1500px){
    .footerLogoDesk img {
        width: 85%;
    }
    .footerTitle {
        font-size: 23px;
    }
    .pagsDiv a {
        font-size: 21px;
    }
    .teInteresa {
        font-size: 21px;
    }
    .escribenos {
        font-size: 21px;
    }
    .underDeskDiv p {
        font-size: 18px;
    }
}
@media only screen and (min-width: 2000px){
    .footerLogoDesk img {
        width: 95%;
    }
    .footerTitle {
        font-size: 27px;
    }
    .pagsDiv a {
        font-size: 23px;
    }
    .teInteresa {
        font-size: 23px;
    }
    .escribenos {
        font-size: 23px;
    }
    .underDeskDiv {
        padding: 1% 23%;
    }
    .underDeskDiv p {
        font-size: 18px;
    }
}
@font-face {
    font-family: "B Bold";
    src: url("../../static/fonts/Branding\ Bold.otf");
}
@font-face {
    font-family: "B SemiBold";
    src: url("../../static/fonts/Branding\ Semibold.otf");
}
@font-face {
    font-family: "B Medium";
    src: url("../../static/fonts/Branding\ Medium.otf");
}
@font-face {
    font-family: "B SemiLight";
    src: url("../../static/fonts/Branding\ Semilight.otf");
}
