.singleNewsBanner {
    background-size: cover;
    width: 100%;
    padding-bottom: 58%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sigleContentDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8% 4% 3% 4%;
}
.sigleNtitle {
    font-family: "B SemiBold";
    text-align: center;
    color: #0081C3;
    margin-bottom: 12%;
}
.finalP {
    font-family: "B SemiBold";
    font-size: 18px;
    text-align: center;
    color: #0081C3;
}
.amongfFirstimg {
    width: 90%;
    margin: 18% 0%;
}
.amongContainer {
    background-image: url("../../images/desktop/noticias/amongus/contenedorMob.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 320px;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}
.containerLight {
    font-family: "B Italic";
    font-size: 15px;
    width: 85%;
    line-height: 28px;
    color: #051C2C;
    text-align: center;
    margin-top: 17%;
    margin-bottom: 2%;
}
.containerBold {
    font-family: "B SemiBold";
    font-size: 14px;
    line-height: 20px;
    width: 80%;
    color: #051C2C;
    text-align: center;
    margin-top: 0%;
}
.sigleBottomP {
    font-family: "B SemiBold";
    font-size: 24px;
    text-align: center;
    color: #0081C3;
    width: 100%;
}
.singleRecent {
    padding-left: 3%;
}
/* CLASES DESKTOP */
.singleNewsBannerDesk {
    background-size: cover;
    width: 100%;
    padding-bottom: 55%;
}
.sigleContentDivDesk {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
}
.singleNewsContentDesk {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0% 4%;
}
.sigleNtitleDesk {
    font-family: "B SemiBold";
    font-size: 23px;
    width: 50%;
    text-align: center;
    color: #0081C3;
    margin-bottom: 0%;
}
.newsDualDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0% 0% 2% 4% ;
    width: 100%;
    /* max-width: 1500px; */

}
.dualLeftDiv {
    width: 55%;
}
.dualRightDiv {
    width: 40%;
    margin-right: 4%;
}
.amongfFirstimgDesk {
    width: 100%;
}
.amongContainerDesk {
    background-image: url("../../images/desktop/noticias/amongus/contenedor.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 658px;
    max-width: 1500px;
    height: 190px;
    /* padding: 3%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    /* padding-bottom: 10%; */
}
.fourthPContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 1500px;
}
.singleRecentDesk {
    margin-top: 2%;
    padding: 3% 4%;
}
.finalPDiv {
    display: flex;
    justify-content: center;
    
}
@media only screen and (min-width: 752px) {
    .containerLight {
        font-size: 12px;
        width: 85%;
        line-height: 28px;
        margin-top: 6%;
        margin-bottom: 2%;
    }
    .containerBold {
        font-size: 13px;
        line-height: 20px;
        width: 80%;
        color: #051C2C;
        text-align: center;
        margin-top: 0%;
    }
    .sigleBottomP {
        font-size: 20px;
        width: 80%;
    }
    .finalP {
        font-size: 22px;
        width: 80%;
        max-width: 1500px;
    }
}
@media only screen and (min-width: 1000px) {
    .sigleNtitleDesk {
        font-size: 27px;
        width: 50%;
    }
    .amongContainerDesk {
        height: 240px;
        width: 850px;
        /* width: 90%; */
    }
    .containerLight {
        font-size: 17px;
    }
    .containerBold {
        font-size: 18px;
    }
    .sigleBottomP {
        font-size: 25px;
        width: 70%;
    }
}
@media only screen and (min-width: 1300px) {
    .sigleNtitleDesk {
        font-size: 35px;
        width: 50%;
    }
    .dualLeftDiv {
        margin-top: 0%;
    }
    .amongContainerDesk {
        height: 305px;
        width: 1076px;
    }
    .containerLight {
        font-size: 24px;
    }
    .containerBold {
        font-size: 25px;
    }
    .fourthPContainer {
        width: 96%;
    }
    .sigleBottomP {
        font-size: 35px;
        width: 70%;
    }
}
@media only screen and (min-width: 1500px) {
    .sigleNtitleDesk {
        font-size: 50px;
        width: 50%;
    }
    .amongContainerDesk {
        height: 350px;
        width: 1242px;
    }
    .containerLight {
        font-size: 29px;
    }
    .containerBold {
        font-size: 29px;
    }
    .sigleBottomP {
        font-size: 45px;
    }
}
@media only screen and (min-width: 2000px) {
    .sigleContentDivDesk {
        padding-bottom: 2% ;
    }
    .sigleNtitleDesk {
        width: 40%;
    }
    .dualLeftDiv {
        margin-top: 5%;
        margin-left: 4%;
        width: 50%;
    }
}
@media only screen and (min-width: 2500px) {
    .dualLeftDiv {
        margin-top: 11%;
        margin-left: 4%;
        width: 45%;
    }
}


@font-face {
    font-family: "B Italic";
    src: url("../../static/fonts/BrandingItalic.otf");
}