.imgDuo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.imgDuo img {
    width: 48%;
    margin: 2%;
}
.fullWidthPDiv {
    padding:  0% 4%;
    max-width: 1500px;
}
.imgTrio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.imgTrio img {
    width: 32%;
    /* margin: 2%; */
}