
.aboutFirstSection {
    background-image: url("../images/mobile/nosotros/PORTADA\ NOSOTROS-02.png");
    background-size: cover;
    height: 133px;
}
.aboutSecondSection {
    padding: 10% 4% 1% 4%;
}
.aboutThirdSection {
    padding: 3% 4% 0% 4%;
}
.aboutFourthSection {
    padding: 3% 4% 0% 4%;
}
.aboutFifhtSection {
    padding: 3% 15% 0% 8%;
    background-color: #e5f4fb;
}
.como {
    width: 100%;
}
.aboutSixthSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10% 4% 0% 4%;
}
.reconocimientosRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 7%;
}
.aboutSeventhSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10% 4% 15% 4%;
}
/* CLASES DESKTOP */
.MainDivDesk {
    margin-top: 10%;
}
.aboutFirstSectionDesk {
    background-image: url("../images/desktop/nosotros/PORTADA\ NOSOTROS_Mesa\ de\ trabajo\ 1\ 1.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 267px;
}
.aboutLeftDiv {
    width: 48%;
}
.aboutRightDiv {
    width: 48%;
}
.aboutSectionDesk {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 6% 4% 1% 4%;
    justify-content: space-between;
    margin-bottom: 2%;
}
.aboutCenteredSectionDesk {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6% 4% 1% 4%;
    justify-content: space-between;
    padding: 6% 4% 1% 4%;
    margin-bottom: 5%;
}
.queDesk {
    width: 100%;
}
.aboutFifhtSectionDesk {
    display: flex;
    flex-direction: row;
    background-color: #E5F4FB;
    align-items: flex-starts;
    padding: 6% 4% 1% 4%;
    justify-content: space-between;
    margin-bottom: 2%;
}
.aboutSixthSectionDesk {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6% 4% 1% 4%;

}
.premiosRowDesk {
    display: flex;
    flex-direction: row;
}
.aboutSeventhSectionDesk {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6% 4% 1% 4%;

}
.institucionesDivDesk {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}