
.aboutFirstSection {
    background-image: url("../images/mobile/nosotros/bannerNosotrosEsp.png");
    background-size: cover;
    width: 100%;
    height: 133px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: relative;
    z-index: 1; */
}
.aboutBannerText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.aboutBannerText h1 {
    font-family: "Gobold";
    font-size: 15px;
    margin-top: 13%;
}
.aboutSecondSection {
    padding: 10% 4% 1% 4%;
}
.aboutThirdSection {
    padding: 3% 4% 0% 4%;
}
.aboutFourthSection {
    padding: 3% 4% 0% 4%;
}
.aboutFifhtSection {
    padding: 3% 15% 7% 8%;
    background-color: #e5f4fb;
    position: relative;
    z-index: 1;
}
.como {
    width: 100%;
}
.LikeMobile {
    width: 50%;
    position: absolute;
    z-index: 2;
    top: -11%;
    left: 60%;
}
.OkeyMobile {
    width: 40%;
    margin-left: 50%;
}
.aboutSixthSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10% 4% 0% 4%;
}
.reconocimientosRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 7%;
}
.aboutSeventhSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 19% 4% 15% 4%;
}
.aboutSeventhSection img {
    width: 60%;
}
/* CLASES DESKTOP */
.MainDivDesk {
    margin-top: 10%;
}
.aboutFirstSectionDesk {
    background-image: url("../images/desktop/nosotros/bannerNosotrosDeskEsp.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-bottom: 35%;
}
.aboutLeftDiv {
    width: 48%;
    max-width: 750px;
}
.aboutRightDiv {
    width: 48%;
    max-width: 750px;

}
.aboutSectionDesk {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 6% 4% 1% 4%;
    justify-content: space-between;
    margin-bottom: 2%;
}
.aboutCenteredSectionDesk {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6% 4% 1% 4%;
    justify-content: space-between;
    margin-bottom: 5%;
}
.queDesk {
    width: 100%;
}
.aboutFifhtSectionDesk {
    display: flex;
    flex-direction: row;
    background-color: #E5F4FB;
    align-items: flex-start;
    padding: 6% 4% 1% 4%;
    justify-content: space-between;
    margin-bottom: 2%;
    position: relative;
    z-index: 1;
}
.likeDesk {
    position: absolute;
    width: 26%;
    top: -25%;
    left: 70%;
    z-index: 2;
}
.okeydesk {
    width: 30%;
    margin-left: 60%;
}
.aboutSixthSectionDesk {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6% 4% 1% 4%;

}
.reconodimientosGroupDesk {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
}
.premiosRowDesk {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 3%;
}
.aboutSeventhSectionDesk {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2% 4% 1% 4%;
}
.aboutSeventhSectionDesk img {
    width: 20%;
    margin-bottom: 3%;
}
.institucionesDivDesk {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
@media only screen and (min-width: 752px) {
    .aboutSeventhSectionDesk h2 {
        width: 30%;
        text-align: center;
    }
}
@media only screen and (min-width: 880px) {
    .likeDesk {
        top: -35%;
        left: 70%;
    }
}
@media only screen and (min-width: 1000px) {
    .aboutSeventhSectionDesk img {
        width: 15%;
    }

}
@media only screen and (min-width: 1200px) {
    .likeDesk {
        top: -40%;
        left: 70%;
    }
}
@media only screen and (min-width: 1300px) {
    .likeDesk {
        top: -28%;
        left: 70%;
    }
}
@media only screen and (min-width: 1500px) {
    .aboutSeventhSectionDesk img {
        width: 20%;
    }
    .aboutCenteredSectionDesk {
        justify-content: center;
        padding: 2% 4% 4% 4%;
        margin-bottom: 0%;
    }
    .aboutFifhtSectionDesk {
        padding: 6% 4% 4% 4%;
        margin-bottom: 0%;
    }
    .aboutSixthSectionDesk {
        padding: 6% 4% 4% 4%;
    }
    .reconodimientosGroupDesk {
        margin-bottom: 5%;
    }
    .aboutSeventhSectionDesk img {
        margin-bottom: 5%;
    }
}
@media only screen and (min-width: 1750px) {
    .likeDesk {
        top: -25%;
        left: 70%;
        width: 20%
    }
}
@media only screen and (min-width: 2000px) {
    .aboutRightDiv {
        margin-left: 2%;
    }
    .aboutLeftDiv {
        margin-right: 2%;
    }
    .aboutSectionDesk {
        justify-content: center;
    }
    .aboutCenteredSectionDesk {
        justify-content: center;
        padding: 1% 4% 1% 4%;
    }
    .queDesk {
        width: 100%;
    }
    .aboutFifhtSectionDesk {
        justify-content: center;
        padding: 6% 4% 4% 4%;
    }
    .aboutSixthSectionDesk {
        padding: 6% 4% 2% 4%;
    }
    .aboutSeventhSectionDesk img {
        width: 13%;
    }
}
@media only screen and (min-width: 2300px) {
    .likeDesk {
        top: -25%;
        left: 70%;
        width: 17%
    }
}