.contactFirstSection {
    background-image: url("../images/mobile/contacto/bannerContactoEsp.png");
    background-size: cover;
    height: 128px;
}
.contactSecondSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 17% 4%;
    position: relative;
    z-index: 1;
}
.buscandote {
    width: 26%;
    position: absolute;
    z-index: 2;
    top: -1%;
    left: 7%;
}
.blueTitle {
    font-family: "B semiBold";
    color: #0081C3;
    font-size: 28px;
    text-align: center;
}
.contactRightDiv a {
    text-decoration: none;
    color: #051C2C;
}
.contactInfoDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.adquirir {
    font-family: "B semiBold";
    font-size: 20px;
    width: 47%;
    text-align: right;
    color: #051C2C;

}
.contactRightDiv{
    width: 47%;
} 
.responde{
    font-family: "B semiLight";
    font-size: 16px;
    margin-bottom: 4%;
    margin-top: 0%;
    color: #051C2C;

}
.mail {
    font-family: "B semiBold";
    font-size: 14px;
    margin-bottom: 4%;
    margin-top: 0%;

}
.teResponderemos {
    font-family: "B semiBold";
    color: #0081C3;
    font-size: 14px;
    margin-bottom: 0%;
    margin-top: 0%;
}
.contactFormDiv {
    width: 100%;
    margin-top: 15%;
}
.contactFormDiv form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.contactFormDiv input {
    width: 95%;
    background-color: #CCE9F7;
    border-radius: 4px;
    border: none;
    margin-bottom: 5%;
    height: 45px;
    padding: 0% 3%;
    font-family: "B semiBold";
}

.contactFormDiv select {
    width: 101%;
    background-color: #CCE9F7;
    border-radius: 4px;
    border: none;
    margin-bottom: 5%;
    height: 45px;
    padding: 0% 2%;
    font-family: "B semiBold";
    font-size: 16px;
}
/* option:checked {
    background-color: #0093D7;
} */
/* select.decorated option:hover {
    box-shadow: 0 0 10px 100px #0093D7 inset;
} */
.contactFormDiv textarea {
    width: 95%;
    background-color: #CCE9F7;
    border-radius: 4px;
    border: none;
    margin-bottom: 15%;
    height: 105px;
    padding: 4% 3%;
    font-family: "B semiBold";
}
.contactFormDiv ::placeholder {
    color: black;
    font-family: "B semiBold";
    font-size: 16PX;
}
.formButtonDiv {
    width: 40%;
    margin-bottom: 10%;
}
.contactThirdSection {
   padding: 4% 4%;
    
}
.interestBZDiv {
    width: 60%;
    text-align: center;
    margin-bottom: 4%;
    color: #051C2C;

}
.tycoon360 {
    width: 64%;
}
.contactFirstSectionDesk {
    background-image: url("../images/desktop/contacto/banerContactoDeskEsp.png");
    background-size: cover;
    /* height: 268px; */
    width: 100%;
    padding-bottom: 35%;
}
.inputsDeskDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 90%;
}
.formLeftDeskDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    margin-right: 2%;
}
.formRightDeskDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    margin-left: 2%;
}
.contactThirdSectiondesk {
    padding: 5% 4%;
}
.contacitoPaisCardsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.contactoPaisRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding: 2% 0%;
    max-width: 1400px;
}
.tycoon360Link { 
    display: flex;
    justify-content: center;
}
@media only screen and (min-width: 752px){
    .contactSecondSection {
        padding: 5% 4%;
    }
    .buscandote {
        width: 22%;
        top: -3%;
        left: 4%;
    }
    .contactInfoDiv {
        width: 70%;
        align-items: flex-start;
    }
    .blueTitle {
        width: 60%;
        font-size: 33px;
    }
    .adquirir {
        margin-top: 0%;
        font-size: 30px;
    }
    .responde {
        font-size: 20px;
        margin-bottom: 8%;
    }
    .mail {
        font-size: 18px;
        margin-bottom: 8%;
    }
    .teResponderemos {
        font-size: 20px;
    }
    .contactFormDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }
    .contactInfoDiv {
        width: 486px;
        max-width: 1000px;
    }
    .contactFormDiv form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 1500px;
    }
    .inputsDeskDiv input {
        height: 35px;
        width: 97%;
    }
    .inputsDeskDiv select {
        width: 103%;
        font-size: 12px;
        height: 35px;

    }
    .inputsDeskDiv textarea {
        width: 97%;
        height: 85px;
    }
    .contactFormDiv ::placeholder {
        font-size: 12px;
    }
    .formButtonDiv {
        width: 14%;
        margin-bottom: 3%;
    }
    .interestBZDiv {
        margin-bottom: 1%;
    }
    .tycoon360 {
        width: 40%;
        margin-left: 4%;
    }

}
@media only screen and (min-width: 1000px){
    .contactSecondSection {
        padding: 4% 4%;    }
    .blueTitle {
        font-size: 36px;
        margin-top: 0%;
    }
    .contactInfoDiv {
        /* width: 57%; */
        width: 525px;

    }
    .adquirir {
       font-size: 32px; 
    }
    .responde {
        font-size: 23px;
        margin-bottom: 6%;
    }
    .mail {
        font-size: 22px;
        margin-bottom: 5%;
    }
    .teResponderemos {
        font-size: 23px;
    }
    .inputsDeskDiv input {
        height: 37px;
        width: 97%;
        font-size: 16px;
    }
    .inputsDeskDiv select {
        width: 103%;
        font-size: 14px;
        height: 37px;
    }
    .inputsDeskDiv textarea {
        width: 97%;
        height: 85px;
    }
    .contactFormDiv ::placeholder {
        font-size: 14px;
    }
    .tycoon360 {
        width: 53%;
    }
    .contactThirdSectiondesk {
        padding: 10% 4% 8% 4%;

    }
}
@media only screen and (min-width: 1300px){
    .buscandote {
        width: 20%;
        top: -3%;
        left: 4%;
    }
    .blueTitle {
        font-size: 43px;
        width: 43%;
    }
    .contactInfoDiv {
        /* width: 57%; */
        width: 682px;
    }
    .adquirir {
       font-size: 35px; 
    }

    .responde {
        font-size: 26px;
        margin-bottom: 8%;
    }
    .mail {
        font-size: 25px;
        margin-bottom: 8%;
    }
    .teResponderemos {
        font-size: 26px;
    }
    .contactFormDiv {
        margin-top: 4%;
    }
    .inputsDeskDiv input {
        height: 40px;
        width: 97%;
        margin-bottom: 3%;
        font-size: 20px;
    }
    .inputsDeskDiv select {
        width: 103%;
        font-size: 20px;
        height: 40px;
    }
    .inputsDeskDiv textarea {
        width: 97%;
        height: 105px;
    }
    .contactFormDiv ::placeholder {
        font-size: 20px;
    }
    .tycoon360 {
        width: 57%;
    }
}
@media only screen and (min-width: 1500px){
    .buscandote {
        width: 17%;
        top: -3%;
        left: 5%;
    }
    .blueTitle {
        font-size: 45px;
        width: 38%;
    }
    .contactInfoDiv {
        /* width: 57%; */
        width: 804px;
    }
    .adquirir {
       font-size: 38px; 
    }
    .responde {
        font-size: 28px;
        margin-bottom: 2%;
    }
    .mail {
        font-size: 26px;
        margin-bottom: 2%;
    }
    .teResponderemos {
        font-size: 28px;
    }
    .inputsDeskDiv input {
        height: 48px;
        font-size: 23px;
    }
    .inputsDeskDiv select {
        width: 103%;
        font-size: 23px;
        height: 48px;
    }
    .inputsDeskDiv textarea {
        width: 97%;
        height: 135px;
        font-size: 23px;
    }
    .contactFormDiv ::placeholder {
        font-size: 23px;
    }
    .contactThirdSectiondesk {
        padding: 4% 4% 8% 4%;
    }
    .tycoon360 {
        width: 60%;
        margin-left: 5%;
    }
}
@media only screen and (min-width: 1700px){
    .blueTitle {
        font-size: 45px;
        width: 34%;
    }
}
@media only screen and (min-width: 2000px){
    .blueTitle {
        font-size: 45px;
        width: 30%;
    }
    .buscandote {
        width: 15%;
        top: -3%;
        left: 9%;
    }
    .contactThirdSectiondesk {
        padding: 5% 18% 5% 18% ;

    }
}