.contactFirstSection {
    background-image: url("../images/mobile/contacto/PORTADA\ CONTACTO-02.png");
    background-size: cover;
    height: 128px;
}
.contactSecondSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4% 4%;
}
.blueTitle {
    font-family: "B semiBold";
    color: #0093D7;
    font-size: 28px;
    text-align: center;
}
.contactInfoDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.adquirir {
    font-family: "B semiBold";
    font-size: 20px;
    width: 47%;
    text-align: right;
}
.contactRightDiv{
    width: 47%;
} 
.responde{
    font-family: "B semiLight";
    font-size: 16px;
    margin-bottom: 4%;
    margin-top: 0%;
}
.mail {
    font-family: "B semiBold";
    font-size: 14px;
    margin-bottom: 4%;
    margin-top: 0%;

}
.teResponderemos {
    font-family: "B semiBold";
    color: #0093D7;
    font-size: 14px;
    margin-bottom: 0%;
    margin-top: 0%;
}
.contactFormDiv {
    width: 100%;
    margin-top: 15%;
}
.contactFormDiv form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.contactFormDiv input {
    width: 95%;
    background-color: #CCE9F7;
    border-radius: 4px;
    border: none;
    margin-bottom: 5%;
    height: 45px;
    padding: 0% 3%;
    font-family: "B semiBold";
}

.contactFormDiv select {
    width: 101%;
    background-color: #CCE9F7;
    border-radius: 4px;
    border: none;
    margin-bottom: 5%;
    height: 45px;
    padding: 0% 2%;
    font-family: "B semiBold";
    font-size: 16px;
}
.contactFormDiv textarea {
    width: 95%;
    background-color: #CCE9F7;
    border-radius: 4px;
    border: none;
    margin-bottom: 15%;
    height: 105px;
    padding: 4% 3%;
    font-family: "B semiBold";
}
.contactFormDiv ::placeholder {
    color: black;
    font-family: "B semiBold";
    font-size: 16PX;
}
.formButtonDiv {
    width: 40%;
    margin-bottom: 10%;
}
.contactThirdSection {
   padding: 4% 4%;
    
}
.interestBZDiv {
    width: 60%;
    text-align: center;
    margin-bottom: 4%;
}
.tycoon360 {
    width: 64%;
}
.contactFirstSectionDesk {
    background-image: url("../images/desktop/contacto/PORTADA-CONTACTO.png");
    background-size: cover;
    /* height: 268px; */
    width: 100%;
    padding-bottom: 35%;
}
.inputsDeskDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 90%;
}
.formLeftDeskDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    margin-right: 2%;
}
.formRightDeskDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    margin-left: 2%;

}
@media only screen and (min-width: 752px){

    .contactInfoDiv {
        width: 70%;
    }
    .blueTitle {
        width: 60%;
        font-size: 33px;
    }
    .adquirir {
        font-size: 30px;
    }
    .responde {
        font-size: 20px;
        margin-bottom: 7%;
    }
    .mail {
        font-size: 18px;
        margin-bottom: 7%;

    }
    .teResponderemos {
        font-size: 20px;
    }

    .contactFormDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }
    .contactInfoDiv {
        max-width: 1000px;
    }
    .contactFormDiv form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 1500px;
    }
    .inputsDeskDiv input {
        height: 35px;
        width: 97%;
    }
    .inputsDeskDiv select {
        width: 103%;
        font-size: 12px;
        height: 35px;

    }
    .inputsDeskDiv textarea {
        width: 97%;
        height: 85px;
    }
    .contactFormDiv ::placeholder {
        font-size: 12px;
    }
    .formButtonDiv {
        width: 14%;
        margin-bottom: 3%;
    }
    .interestBZDiv {
        margin-bottom: 1%;
    }
    .tycoon360 {
        width: 23%;
    }

}
@media only screen and (min-width: 1000px){
    .contactSecondSection {
        padding: 4% 4%;    }
    .blueTitle {
        font-size: 36px;
        margin-top: 0%;
    }
    .contactInfoDiv {
        width: 57%;
    }
    .adquirir {
       font-size: 32px; 
    }

    .responde {
        font-size: 23px;
    }
    .mail {
        font-size: 22px;

    }
    .teResponderemos {
        font-size: 23px;
    }
    .inputsDeskDiv input {
        height: 37px;
        width: 97%;
        font-size: 16px;
    }
    .inputsDeskDiv select {
        width: 103%;
        font-size: 14px;
        height: 37px;
    }
    .inputsDeskDiv textarea {
        width: 97%;
        height: 85px;
    }
    .contactFormDiv ::placeholder {
        font-size: 14px;
    }
    .tycoon360 {
        width: 17%;
    }
}
@media only screen and (min-width: 1300px){
    .blueTitle {
        font-size: 43px;
        width: 43%;
    }
    .contactInfoDiv {
        width: 57%;
    }
    .adquirir {
       font-size: 35px; 
    }

    .responde {
        font-size: 26px;
    }
    .mail {
        font-size: 25px;

    }
    .teResponderemos {
        font-size: 26px;
    }
    .contactFormDiv {
        margin-top: 4%;
    }
    .inputsDeskDiv input {
        height: 40px;
        width: 97%;
        margin-bottom: 3%;
        font-size: 20px;
    }
    .inputsDeskDiv select {
        width: 103%;
        font-size: 20px;
        height: 40px;
    }
    .inputsDeskDiv textarea {
        width: 97%;
        height: 105px;
    }
    .contactFormDiv ::placeholder {
        font-size: 20px;
    }
}
@media only screen and (min-width: 1500px){
    .blueTitle {
        font-size: 45px;
        width: 38%;
    }
    .contactInfoDiv {
        width: 57%;
    }
    .adquirir {
       font-size: 38px; 
    }
    .responde {
        font-size: 28px;
        margin-bottom: 3%;
    }
    .mail {
        font-size: 26px;
        margin-bottom: 3%;
    }
    .teResponderemos {
        font-size: 28px;
    }
    .inputsDeskDiv input {
        height: 48px;
        font-size: 23px;
    }
    .inputsDeskDiv select {
        width: 103%;
        font-size: 23px;
        height: 48px;
    }
    .inputsDeskDiv textarea {
        width: 97%;
        height: 135px;
        font-size: 23px;

    }
    .contactFormDiv ::placeholder {
        font-size: 23px;
    }
}
@media only screen and (min-width: 1700px){
    .blueTitle {
        font-size: 45px;
        width: 34%;
    }
}
@media only screen and (min-width: 2000px){
    .blueTitle {
        font-size: 45px;
        width: 25%;
    }
}