body {
    width: 100%;
    height: 100%;
    margin: 0 !important;
    padding: 0 ;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.MainDiv {
    margin-top: 22%;
}
.Button a {
    text-decoration: none;
    cursor: pointer;
}
.homeFirstSection {
    background-image: url("../images/mobile/home/bannerHomeEsp.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    /* height: 750px; */
    padding-bottom: 200%;
    position: relative;
    z-index: 1;
}
.bannerTextHome {
    position: absolute;
    z-index: 2;
    width: 55%;
    /* top: 520px;
    left: 120px; */
    top: 70%;
    left: 33%;
}
.bannerTextHome h1 {
    font-family: "B Medium";
    font-size: 26px;
}
.sectionTitle {
    font-family: "B Bold";
    margin-bottom: 10%;
    font-size: 28px;
    line-height: 32px;
    cursor: pointer;
    color: #051C2C;

}
.sectionTitle span {
    font-family: "B SemiLight";
}
.regularP {
    font-family: "B SemiLight";
    font-size: 18px;
    line-height: 28px;
    color: #051C2C;
    margin-top: 0%;
}
.regularP span {
    font-family: "B Bold";
    color: #051C2C;

}
.smallP {
    font-family: "B SemiLight";
    font-size: 18px;
    line-height: 24px;
    color: #051C2C;
}
.smallP span {
    font-family: "B Bold";
}
.homeSecondSection {
    padding: 10% 0% 1% 4%;
}
.secondSectionButtonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}
.secondSectionButton {
    width: 30%;
}
.homeThirdSection {
    padding: 10% 4% 8% 4%;
}
.thirdSectionButton {
    width: 50%;
    margin-top: 15%;
}
.homeFourthSection {
    background-image: url("../images/mobile/home/oficina.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 175px;
}
/* CLASES DESKTOP */

.homeFirstSectionDesk {
    background-image: url("../images/desktop/home/bannerHomeEsp.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    /* height: 500px; */
    position: relative;
    z-index: 1;
    padding-bottom: 65%;
}
.MainDivDesk {
    margin-top: 7%;
}
.homeSecondSectionDesk {
    padding: 6% 4% 1% 4%;

}
.secondSectionButtonDesk {
    width: 25%;
}
.homeThridSectionDesk {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10% 3% 8% 3%;

}
.homeContactDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 40%;
}
.oficinaDesk {
    width: 45%;
}
@font-face {
    font-family: "Gobold";
    src: url("../static/fonts/Gobold\ Regular.otf")
} 

@media only screen and (min-width: 752px){
    .nomargin{
        margin-top: 5%;
    }
    .sectionTitle {
        margin-top: 0%;
        margin-bottom: 4%;
        font-size: 21px;
    }
    .bannerTextHome {
        top: 50%;
        left: 55%;
        width: 27%;
    }
    .bannerTextHome h1 {
        font-size: 25px;
    }
    .regularP {
        font-size: 12px;
        line-height: 28px;
    }
    .smallP {
        font-size: 14px;
        line-height: 24px;
    }
    .thirdSectionButton {
        margin-top: 2%;
    }
}
@media only screen and (min-width: 900px) {
    .bannerTextHome {
        top: 50%;
        left: 55%;
        width: 27%;
    }
}
@media only screen and (min-width: 1000px) {
    /* .homeFirstSectionDesk {
        height: 650px;
    } */
    .sectionTitle {
        font-size: 27px;
    }
    .regularP {
        font-size: 20px;
    }
    .smallP {
        font-size: 20px;
        line-height: 24px;
    }
    .homeSecondSectionDesk {
        padding: 6% 4% 1% 4%;
    }
    .homeThridSectionDesk {
        justify-content: space-between;
        padding: 10% 4% 8% 4%;
    }
    .oficinaDesk {
        width: 50%;
    }
}
@media only screen and (min-width: 1300px) {
    /* .homeFirstSectionDesk {
        height: 850px;
    } */
    .MainDivDesk {
        margin-top: 6%;
    }
    .sectionTitle {
        font-size: 39px;
        line-height: 47px;

    }
    .regularP {
        font-size: 28px;
        line-height: 44px;
    }
    .smallP {
        font-size: 28px;
        line-height: 34px;
    }
}
@media only screen and (min-width: 1500px) {
    /* .homeFirstSectionDesk {
        height: 1000px;
    } */
    .sectionTitle {
        font-size: 43px;
        margin-bottom: 6%;
    }
    .regularP {
        font-size: 30px;
        line-height: 54px;
    }
    .smallP {
        font-size: 25px;
        line-height: 54px;
    }
}
@media only screen and (min-width: 2000px) {
    /* .homeFirstSectionDesk {
        height: 1300px;
    } */
    .secondSectionButtonDesk {
        width: 18%;
    }
    .sectionTitle {
        font-size: 43px;
        margin-bottom: 6%;
    }
    .regularP {
        font-size: 31px;
        line-height: 54px;
    }
    .smallP {
        font-size: 25px;
        line-height: 54px;
    }
}
@media only screen and (min-width: 2500px) {
    /* .homeFirstSectionDesk {
        height: 1640px;
    } */
    .MainDivDesk {
        margin-top: 4.6%;
    }
    .homeThridSectionDesk {
        padding: 5% 18% 5% 18% ;
    }
    .secondSectionButtonDesk {
        width: 14%;
    }
}
@media only screen and (min-width: 3000px) {}