body {
    width: 100%;
    height: 100%;
    margin: 0 !important;
    padding: 0 ;
    overflow-x: hidden;
}
.MainDiv {
    margin-top: 22%;
}
.homeFirstSection {
    background-image: url("../images/mobile/home/banner-home-mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 750px;
    position: relative;
    z-index: 1;
}
.bannerTextHome {
    position: absolute;
    z-index: 2;
    width: 55%;
    /* top: 520px;
    left: 120px; */
    top: 70%;
    left: 33%;
}
.bannerTextHome h1 {
    font-family: "B Medium";
    font-size: 26px;
}
.sectionTitle {
    font-family: "B Bold";
    margin-bottom: 10%;
    font-size: 28px;
    line-height: 32px;
}
.sectionTitle span {
    font-family: "B SemiLight";
}
.regularP {
    font-family: "B SemiLight";
    font-size: 20px;
    line-height: 28px;
}
.regularP span {
    font-family: "B Bold";
}
.smallP {
    font-family: "B SemiLight";
    font-size: 16px;
    line-height: 24px;
}
.smallP span {
    font-family: "B Bold";
}
.homeSecondSection {
    padding: 10% 0% 1% 4%;
}
.secondSectionButtonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}
.secondSectionButton {
    width: 30%;
}
.homeThirdSection {
    padding: 10% 4% 8% 4%;
}
.thirdSectionButton {
    width: 50%;
    margin-top: 15%;
}
.homeFourthSection {
    background-image: url("../images/mobile/home/oficina.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 175px;
}
/* CLASES DESKTOP */

.homeFirstSectionDesk {
    background-image: url("../images/desktop/home/banner-home-desk.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    position: relative;
    z-index: 1;
}
.MainDivDesk {
    margin-top: 7%;
}
.homeSecondSectionDesk {
    padding: 6% 4% 1% 4%;

}
.secondSectionButtonDesk {
    width: 25%;
}
.homeThridSectionDesk {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10% 3% 8% 3%;

}
.homeContactDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 40%;
}
.oficinaDesk {
    width: 45%;
}
@font-face {
    font-family: "Gobold";
    src: url("../static/fonts/Gobold\ Regular.otf")
} 

@media only screen and (min-width: 752px){
    .sectionTitle {
        margin-top: 0%;
        margin-bottom: 4%;
        font-size: 21px;
    }
    .bannerTextHome {
        top: 50%;
        left: 54%;
        width: 30%;
    }
    .bannerTextHome h1 {
        font-size: 23px;
    }
    .regularP {
        font-size: 15px;
        line-height: 28px;
    }
    .smallP {
        font-size: 12px;
        line-height: 24px;
    }
    .thirdSectionButton {
        margin-top: 2%;
    }
}
@media only screen and (min-width: 1000px) {
    .homeFirstSectionDesk {
        height: 650px;
    }
    .sectionTitle {
        font-size: 27px;
    }
    .regularP {
        font-size: 22px;
    }
    /* .smallP {
        font-size: 12px;
        line-height: 24px;
    } */
    .homeSecondSectionDesk {
        padding: 6% 4% 1% 4%;
    }
    .homeThridSectionDesk {
        justify-content: space-between;
        padding: 10% 4% 8% 4%;
    }
    .oficinaDesk {
        width: 50%;
    }
}