.newsFirstSection {
  /* background-image: url("../images/mobile/noticias/bannerNoticiasEsp.png"); */
  background-size: cover;
  /* height: 128px; */
  padding-bottom: 35%;
}
.newsSecondSection {
  padding: 10% 0% 1% 4%;
}
.newsThirdSection {
  padding: 10% 4% 0% 4%;
}
.newsFirstSectionDesk {
  /* background-image: url("../images/desktop/noticias/portadaNoticiasDeskEsp.png"); */
  background-size: cover;
  /* height: 268px; */
  width: 100%;
  padding-bottom: 35%;
}

.newsSection {
  padding: 0 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.pagingBtns {
  display: flex;
  justify-content: center;
  gap: 1rem;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.75rem;
    font-family: "B SemiBold";
    background-color: #0081c3;
    color: aliceblue;
    border: none;
    padding: 1rem 1.5rem;
    min-width: 8rem;
  }

  button:hover {
    cursor: pointer;
    background-color: #045c88;
  }
}

.loaderContainer {
  grid-column: 1 / -1;
}

@media only screen and (min-width: 752px) {
  .newsSecondSection {
    padding: 45px 4% 0% 4%;
  }
  .newsThirdSection {
    padding: 45px 4%;
  }
  .newsSection {
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1000px) {
  .newsSecondSection {
    padding: 60px 4% 0%;
  }
  .newsThirdSection {
    padding: 60px 4%;
  }
  .newsSection {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }
}

@media only screen and (min-width: 1300px) {
  .newsSecondSection {
    padding: 100px 4% 0% 4%;
  }
  .newsSection {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
@media only screen and (min-width: 2000px) {
  .newsSecondSection {
    padding: 115px 4% 0% 4%;
  }
}
@media only screen and (min-width: 2500px) {
  .newsSecondSection h2 {
    padding: 115px 16% 0% 16%;
  }
  .newsThirdSection h2 {
    padding: 115px 16% 0% 16%;
  }
}

/* Loader animation */
.custom-loader {
  width: 50px;
  height: 50px;
  display: grid;
}
.custom-loader::before,
.custom-loader::after {
  content: "";
  grid-area: 1/1;
  --c: radial-gradient(farthest-side, #0081c3 92%, #0000);
  background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%,
    var(--c) 0 50%;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  animation: s2 2s infinite;
}
.custom-loader::before {
  margin: 4px;
  filter: hue-rotate(45deg);
  background-size: 8px 8px;
  animation-timing-function: linear;
}

@keyframes s2 {
  100% {
    transform: rotate(0.5turn);
  }
}
