@font-face {
    font-family: "B Bold";
    src: url("../static/fonts/Branding\ Bold.otf");
}
@font-face {
    font-family: "B SemiBold";
    src: url("../static/fonts/Branding\ Semibold.otf");
}
@font-face {
    font-family: "B Medium";
    src: url("../static/fonts/Branding\ Medium.otf");
}
@font-face {
    font-family: "B SemiLight";
    src: url("../static/fonts/Branding\ Semilight.otf");
}
@font-face {
    font-family: "Gobold";
    src: url("../static/fonts/Gobold\ Regular.otf")
} 
@font-face {
    font-family: "B Italic";
    src: url("../static/fonts/Branding\ Italic.otf");
}