.noticiaMainDiv {
  display: flex;
  flex-direction: column;
  min-width: 150px;
  max-width: 500px;
}

.noticiaUpperDiv img {
  width: 100%;
  aspect-ratio: 4 / 5;
  margin-bottom: 0.5rem;
}

.noticiaTitle {
  font-family: "B Medium";
  color: #051c2c;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* Número máximo de líneas antes de truncar */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  margin: 0rem 0 1rem;
  line-height: 1.3rem;
  height: 2.6rem;
}

.noticiaUpperDiv {
  margin-bottom: 0rem;
}

.noticiaDate {
  font-family: "B SemiBold";
  color: #0081c3;
  margin: 0 0 1rem;
}
.noticiaIconsRow {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.noticiaIconsRow a {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 0 1rem;
}
.mas {
  width: 100%;
}

@media only screen and (min-width: 1000px) {
  .noticiaIconsRow a {
    width: 2.5rem;
    height: 2.5rem;
  }
}
