.paisContactoDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 10%;

}
.cardInfoDiv {
    width: 50%;
}
.paisContactoDiv img {
    width: 38%;
}
.paisContactName {
    font-family: "B semiBold";
    font-size: 24px;
    color: #051C2C;
}
.contactP {
    font-family: "B Medium";
    font-size: 15px;
    margin-top: 0%;
    margin-bottom: 4%;
    line-height: 15px;
    color: #051C2C;
}
.contactSubtitle {
    font-family: "B semiBold";
    font-size: 17px;
    margin-top: 0%;
    margin-bottom: 4%;
    line-height: 15px;
    color: #051C2C;

}
@media only screen and (min-width: 752px) {

    .paisContactName {
        font-size: 18px;
    }
    .paisContactoDiv {
        /* margin-top: 0%; */
        margin: 0% 2% 1%;
        width: 142px;
        justify-content: left;
        position: relative;
    }
    .cardInfoDiv {
        width: 100%;
    }
    .contactP {
        font-size: 10px;
        width: 100%;
        line-height: 15px;
    }
    .contactSubtitle {
        font-size: 12px;
        line-height: 15px;
    }
    .paisContactoDiv img {
        margin-top: 12%;
        width: 43%;
        position: absolute;
        right: 5%;
    }
}
@media only screen and (min-width: 1000px) {
    .paisContactoDiv {

        margin: 0% 2% 1%;
        width: 192px;
    }
    .paisContactName {
        font-family: "B semiBold";
        font-size: 22px;
    }
    .contactP {
        font-size: 13px;
        line-height: 15px;
    }
    .contactSubtitle {
        font-size: 14px;
        line-height: 15px;
    }
}
@media only screen and (min-width: 1500px) {
    .paisContactoDiv {

        margin: 0% 2% 1%;
        width: 302px;
    }
    .paisContactName {
        font-family: "B semiBold";
        font-size: 35px;
    }
    .contactP {
        font-size: 20px;
        line-height: 20px;
    }
    .contactSubtitle {
        font-size: 22px;
        line-height: 25px;
    }
}